.tabs{
    background-image: linear-gradient(#CF1014, #4889CB);
    border-radius: 25px;
    height: 30vh;
    background-color: #CF1014;
	list-style-type: none;
	padding:0;
	margin:0;
	display:flex;
	justify-content: center;
    position:relative;
    color: white;
}

.tabs li{
	float:left;
	margin-top: 1%;
} /* aligne mes boutons sur la même ligne */

.tabs .tab-content{
	display:none;
        position:absolute;
        left:1%;
}
/* permet de cacher le contenu associé à chaque bouton */

.tabs li > input {
	display:none;
} /* permet de cacher les petites cases à cocher */

.tabs li > label {
    display:inline-block;
    background-color: #4889CB;
    color: white;
    border-radius: 10px;
    border-right-width:0vh;
    height: 2vh;
    padding: 2vh 3vh;
    line-height:2vh;
    cursor:pointer;
}

.tabs li:last-child > label{
	border-right-width:1px;
}

/* ok */

.tabs li > input:checked + label {
	color: #CF1014;
}

.tabs li > input:checked ~ .tab-content {
        display:block;
}
